.roadmap {
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
  }

  &__item-right {
      @extend .roadmap__item;
      flex-direction: row-reverse;
    }

  &__description {
    max-width: 480px;
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 30px;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: $gray;
  }

  &__picture {
    max-width: 600px;
    height: auto;
    border-radius: 25 px;
    box-shadow: 0 18px 50px -15px rgba(25, 42, 89, 0.2);
    overflow: hidden;
  }
}

@media screen and (max-width: 768px) {
  .roadmap {
    &__item {
      flex-direction: column;
      margin-bottom: 90px;
      gap: 30px;
    }

    &__description {
      min-height: 50%;
    }

    &__title {
      font-size: 32px;
    }

    &__text {
      font-size: 16px;
    }
  }
}